<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
<menu id="root-menu" label="root-menu">
  <item label="Firefox">
	<action name="Execute"><command>/usr/lib/firefox/firefox</command></action>
  </item>
  <item label="Alacritty">
	<action name="Execute"><command>alacritty</command></action>
  </item>

  <separator />

  <menu id="Accessories" label="Accessories">
	<item label="Mousepad">
	  <action name="Execute"><command>mousepad</command></action>
	</item>
  </menu> <!-- Accessories -->
  <menu id="Development" label="Development">
	<item label="UserFeedback Console">
	  <action name="Execute"><command>UserFeedbackConsole</command></action>
	</item>
  </menu> <!-- Development -->
  <menu id="Internet" label="Internet">
	<item label="Avahi SSH Server Browser">
	  <action name="Execute"><command>/usr/bin/bssh</command></action>
	</item>
	<item label="Avahi VNC Server Browser">
	  <action name="Execute"><command>/usr/bin/bvnc</command></action>
	</item>
	<item label="Discord">
	  <action name="Execute"><command>/usr/bin/discord</command></action>
	</item>
	<item label="Firefox">
	  <action name="Execute"><command>/usr/lib/firefox/firefox</command></action>
	</item>
  </menu> <!-- Internet -->
  <menu id="Multimedia" label="Multimedia">
	<item label="Qt V4L2 test Utility">
	  <action name="Execute"><command>qv4l2</command></action>
	</item>
	<item label="Qt V4L2 video capture utility">
	  <action name="Execute"><command>qvidcap</command></action>
	</item>
	<item label="VLC media player">
	  <action name="Execute"><command>/usr/bin/vlc --started-from-file</command></action>
	</item>
  </menu> <!-- Multimedia -->
  <menu id="Settings" label="Settings">
	<item label="Text Editor Settings">
	  <action name="Execute"><command>mousepad --preferences</command></action>
	</item>
  </menu> <!-- Settings -->
  <menu id="System" label="System">
	<item label="Alacritty">
	  <action name="Execute"><command>alacritty</command></action>
	</item>
	<item label="Avahi Zeroconf Browser">
	  <action name="Execute"><command>/usr/bin/avahi-discover</command></action>
	</item>
	<item label="Dolphin">
	  <action name="Execute"><command>dolphin</command></action>
	</item>
  </menu> <!-- System -->
  <separator />

  <item label="Exit Labwc">
	<action name="Execute"><command>labwc -e</command></action>
  </item>
</menu> <!-- root-menu -->
</openbox_menu>