/* The main widget wrapping all the options. */
#container {
    background: #000000;
    border-radius: 0px;
	border: 1px solid #cccccc;
	padding: 8px;
}

/* Styles that are applied to all options. */
#option {
    padding: 16px;
}

/* Styles that are applied to the currently active option. */
#option.active {
    background-color: #000000;
	border: 1px solid #cccccc;
    border-radius: 0px;
}
