* {
	border: none;
	border-radius: 0;
	font-family: "Iosevka Nerd Font";
	font-size: 14px;
	box-shadow: none;
	min-height: 0;
	color: #dadada;
}

window#waybar {
	background: rgba(8, 8, 8, 0.9);
	margin: 4px;
	border-radius: 6px;
}
window#waybar > box {
	padding: 0px 4px;
}

tooltip {
	background: rgba(8, 8, 8, 0.9);
	border-radius: 6px;
	font-size: 10px;
}

#custom-arch-logo,
#window,
#clock,
#network, #custom-ipv4,
#custom-updates,
#pulseaudio,
#temperature,
#cpu,
#memory,
#tray {
	border-radius: 0px;
	margin: 4px 2px;
	padding: 0px 6px;
}

window#waybar.hidden {
	opacity: 0.2;
}
#window {
	font-size: 10px;
	opacity: 1;
	transition: 0.5s ease;
}
window#waybar.empty #window {
	background: transparent;
	color: transparent;
	opacity: 0;
}

#workspaces {
	transition: none;
}
#workspaces button {
	transition: none;
}
#workspaces button.focused {
	color: #9aedfe;
}
#workspaces button:hover {
	transition: none;
}

#pulseaudio {
	transition: 0.2s ease;
}
#pulseaudio:hover {
	background: rgba(36, 43, 46, 0.5);
	border-radius: 6px;
}

#tray {
	border-radius: 6px;
}
#tray * {
	padding: 0 6px;
	border-left: 1px solid #242b2e;
}
#tray *:first-child {
	border-left: none;
}
#tray menu {
	background: rgba(8, 8, 8, 0.9);
	border-radius: 6px;
}

#custom-arch-logo {
	font-size: 150%;
}

#custom-arch-logo, #window, #clock {
	background: transparent;
	color: #f8f8f2;
}
