window {
	margin: 0px;
	background-color: rgba(8, 8, 8, 0.9);
	border-radius: 6px;
	font-family: 'Iosevka Nerd Font', monospace;
	font-size: 14px;
}

#input {
	margin: 5px;
	border: none;
	color: #d8dee9;
	background-color: rgba(40, 42, 54, 0.9);
}

#inner-box {
	margin: 5px;
	border: none;
}

#outer-box {
	margin: 5px;
	border: none;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #d8dee9;
}

#entry:selected {
	background-color: rgba(40, 42, 54, 0.5);
	border-radius: 4px;
}
