window {
	margin: 0px;
	background-color: #000000;
	border-radius: 0px;
	font-family: 'MxPlus IBM VGA 8x16', monospace;
	font-size: 14px;
}

#input {
	margin: 5px;
	border: 1px solid #cccccc;
	color: #cccccc;
	background-color: #000000;
}

#inner-box {
	margin: 5px;
	border: none;
}

#outer-box {
	margin: 5px;
	border: 1px solid #cccccc;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #cccccc;
}

#entry:selected {
	background-color: #000000;
	border-radius: 0px;
	border: 1px solid #cccccc;
}
