window {
	margin: 0px;
	border: 1px solid #1f2a36;
	background-color: #131c26;
	border-radius: 6px;
	/* font-family: Cantarell, Noto Sans, sans-serif; */
	font-family: 'Iosevka Extended', monospace;
	font-size: 12px;
}

#input {
	margin: 5px;
	border: none;
	color: #d8dee9;
	background-color: #1f2a36;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #131c26;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #131c26;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #d8dee9;
}

#entry:selected {
	background-color: #1f2a36;
	border-radius: 4px;
}